* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.quadrado-1 {
    background-color: #FFFFFF;
    height: 600px;
    width: 800px;
    padding: 30px;
    border-radius: 40px;
    border: 3px solid #26A69A;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-bottom: 40px;
}

h1 {
    color: #2C73D2;
    font-size: 25px;
    font-weight: bold;
}

.input {
    background-color: rgb(185, 165, 169);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #666;
}

.select {
    width: 110%;
    padding: 9px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #666;
    background-color: rgb(185, 165, 169);
}

.cadastrar {
    background-color: #2C73D2;
    color: white;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.botao {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    margin-bottom: 30px;
}